<%- include('partials/header') -%>


<header class="dashboard-header top-container">
    <h3><i class="fas fa-soli fa-tree"></i>Yggdrasil</h3>
    <div class="top-container option-container">
        <a href="/profile/<%= user %>">Link to <br>Public Profile</a>
    </div>
</header>
<div >
    <ul class="group-container">
        <% for(var i=0; i<groups.length; i++) {%> 
            <li class="thing">
                <div class="list-container">
                    <div>
                        <div class="title-container">
                            <h6><%= groups[i]?.title %></h6>
                        </div>
                        <% let links1 = links.filter(x=>x.group.toString() == groups[i]._id.toString()) %>
                        <ul>
                            <% for(let j=0; j<4; j++){ %>
                                <% if(links1[j]) { %> 
                                <div class="link-container" >
                                        <li>
                                            <a href="<%= links1[j].link %>" target="_blank" class="bg-primary btn btn-primary btn-block btn-rounded"><%= links1[j].title %></a>
                                        </li>  
                                </div>  
                                <% } %>
                            <% } %>
                            <% if(links1.length>=5){ %> 
                                <div class="all-container">
                                    <a href="/profile/allLinks/<%= groups[i]._id %>">All <%= links1.length %> Links...</a>
                                </div>
                            <%}%>
                        </ul> 
                    </div>
                   
                </div>
            </li>
        <% } %>
    </ul>
</div>  

<%- include('partials/footer') -%>