<%- include('partials/header') -%>
<header class="dashboard-header top-container">
        <h3><i class="fas fa-soli fa-tree"></i>Yggdrasil</h3>
        <a href="/auth/logout">Logout</a>
        <a href="/profile/<%= user._id.toString() %>">Link to Public Profile</a>
</header>

<div >
    <ul class="group-container">
        <% for(var i=0; i<group.length; i++) {%> 
            <li >
                <div class="list-container">
                    <div class="links-container">
                        <div class="title-container">
                            <h6><%= group[i]?.title %></h6>
                        </div>
                        <ul>
                            <% for(let j=0;j<links.length;j++){ %>
                                <div class="link-container" >
                                    <% if(group[i]._id.toString() == links[j].group.toString()) { %>
                                        <li>
                                            <a href="<%= links[j].link %>" target="_blank" class="btn btn-primary btn-block btn-rounded"><%= links[j].title %></a>
                                        </li>  
                                    <% } %>
                                </div>  
                            <% } %>
                        </ul> 
                    </div>
                    
                    <div class="btn-containers">
                        <div class="edit-container">
                            <% if(group[i].user == user.id) { %>
                            <div class="group-button">
                                <a href="/getCreateLinkPage/<%= group[i]._id %>" class="btn-floating btn-large waves-effect waves-light blue">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            <form
                                action="/main/deleteGroup/<%= group[i]._id%>?_method=DELETE"
                                method="POST"
                                class="col-3"
                                >
                                <button class="btn btn-primary fa fa-trash" type="submit"></button>
                            </form>
                            <% } %>
                        </div>
                    </div> 
                    </div>
                   
            </li>
            
        <% } %>
    </ul>
</div>  



<div class="fixed-action-btn">
    <a href="/groups" class="btn-floating btn-large waves-effect waves-light blue">
        <i class="fas fa-plus"></i>
    </a>
</div>
<%- include('partials/footer') -%>