<%- include('partials/header') -%>
<header class="dashboard-header top-container">
        <h3><i class="fas fa-soli fa-tree"></i>Yggdrasil</h3>
        <div class="top-container option-container">
            <a href="/auth/logout">Logout</a>
            <a href="/profile/<%= user._id.toString() %>">Link to Public Profile</a>
    
        </div>
</header>

<div >
    <ul class="group-container">
        <% for(var i=0; i<groups.length; i++) {%> 
            <li class="change">
                <div class="list-container">
                    <div class="links-container">
                        <div class="title-container">
                            <h6><%= groups[i]?.title %></h6>
                        </div>
                        <div class="divider"></div>
                        <% let links1 = links.filter(x=>x.group.toString() == groups[i]._id.toString()) %>
                        <ul>
                            <% for(let j=0; j<4; j++){ %>
                                <% if(links1[j]) { %> 
                                <div class="link-container" >
                                        <li>
                                            <a href="<%= links1[j].link %>" target="_blank" class="bg-primary btn btn-primary btn-block btn-rounded"><%= links1[j].title %></a>
                                        </li>  
                                </div>  
                                <% } %>
                            <% } %>
                        </ul> 
                        <% if(links1.length>=5){ %> 
                            <div class="all-container">
                                <a href="/allLinks/<%= groups[i]._id %>">All <%= links1.length %> Links...</a>
                            </div>
                        <%}%>
                    </div>
                    
                    <div class="btn-containers">
                        <div class="edit-container">
                            <% if(groups[i].user == user.id) { %>
                            <div class="group-button">
                                <a href="/getCreateLinkPage/<%= groups[i]._id %>" class="btn-floating btn-large waves-effect waves-light blue">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            <form
                                action="/main/deleteGroup/<%= groups[i]._id%>?_method=DELETE"
                                method="POST"
                                class="col-3"
                                >
                                <button class="btn btn-primary fa fa-trash" type="submit"></button>
                            </form>
                            <% } %>
                            
                        </div>
                    </div> 
                    </div>
                   
            </li>
            
        <% } %>
    </ul>
</div>  



<div class="fixed-action-btn">
    <a href="/groups" class="btn-floating btn-large waves-effect waves-light blue">
        <i class="fas fa-plus"></i>
    </a>
</div>
<%- include('partials/footer') -%>